<div class="container">
 <div class="row">
   <div class="md-1">
    <h1>Welcome to Bookers!</h1>
   </div>
  </div>
</div>

<div class="container">
  <div class="row">
   <div class="md-6">
    <p></p>
   </div>
  </div>
 </div>
 <div class="container">
  <div class="row">
   <div class="md-6">
    <p></p>
   </div>
  </div>
 </div>
 <div class="container">
  <div class="row">
   <div class="md-6">
    <p></p>
   </div>
  </div>
 </div>

<footre>
 <div class="container">
  <div class="row">
   <div class="md-12">
    <p>CopyRight Infratop.inc</p>
   </div>
  </div>
 </div>
</footre>